
<form method="post">
    <label>Name:</label><br />
    <input type="text" name="name" /><br /><br />
    <label>Date:</label><br />
    <input type="text" name="date" /><br /><br />
    <input type="submit" value="Отправить" />
</form>

